@{
    Layout = "~/Views/Shared/LayOutWeb.cshtml";
}
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using WebDuLich.Models;
@using System.Configuration
@model IEnumerable<WebDuLich.Models.tbl_new_dulich>
@{
    WebDuLichEntities db = new WebDuLichEntities();
    var qs = from dataslide in db.tbl_slide_dulich
             where dataslide.trangthai_silde_dulich == 1
             select dataslide;

    var qsMenu = from datamenu in db.tbl_menu_dulich
                 where datamenu.trangthai_menu_dulich == 1
                 orderby datamenu.thutu_menu_dulich
                 select datamenu;
}
@section share_fb{
    @foreach (var item in Model)
    {
        <meta property="og:title" content="@item.name_new_dulich" />

        <meta property="og:url" content="http://phongkhambacsihon.com/Detail/Detail/@item.id_new_dulich" />
        <meta name="description" content="@item.tomtat_new_dulich">
        <meta property="og:description" content="@item.tomtat_new_dulich" />
        <meta name="keywords" content="khu du lịch bàu trắng,du lịch,sinh thái,cảnh đẹp,đồi cát,cát trắng" />
        <meta property="og:image" content="@ConfigurationManager.AppSettings["domain"]@item.img_new_dulich.Split('_')[0]/@item.img_new_dulich" />
    }
}
<header id="header" class="header page-header clearfix" role="banner">

    <div class="header-section-3">

        @Html.Partial("~/Views/Default/Menu.cshtml", qsMenu)
    </div>
</header>

<div class="container-12">
    <div class="grid-12">
        <div id="main" class="main clearfix">

            <!-- Page content -->
            @foreach (var item in Model)
            {
                <div id="content" class="content content-main ">
                    <header id="content-header" class="content-header">
                        <!-- Page title -->
                        <h2 id="page-title" class="title page-title">@item.name_new_dulich</h2>
                    </header>

                    <!-- Page content -->
                    <div class="region region-content">

                        <div id="block-system-main" class="block-system-main block block-system block-even">
                            <!-- Block title -->
                            <!-- Block content -->
                            <div class="content block-content">
                                <div id="node-94" class="node node-article node-odd published with-comments node-full clearfix node-94" role="article">
                                    <header class="node-header clearfix">
                                        <!-- Node title -->
                                        <!-- Node meta -->
                                        <div class="submitted node-submitted" role="contentinfo">
                                            <ul class="submitted-list clearfix">

                                                <li class="node-author"><span class="fa fa-fw fa-user"></span> <span class="username">admin</span></li>
                                                <li class="node-time">
                                                    <time datetime="2015-04-28T18:07:44">
                                                        <span class="fa fa-fw fa-calendar"></span> April 28, 2015
                                                    </time>
                                                </li>

                                                <li class="node-views">
                                                    <span class="fa fa-fw fa-eye"></span>
                                                    97 view(s)
                                                </li>

                                            </ul>
                                        </div>
                                    </header>

                                    <div class="content node-content">

                                        <!-- Node content -->
                                        <div class="field field-name-field-image field-type-image field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                   
                                                 

                                                    <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 300px; overflow: hidden; visibility: hidden;">
                                                        <!-- Loading Screen -->
                                                        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                                                            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%; "></div>                          
                                                              <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                                                        </div>
                                                        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 300px; overflow: hidden;">
                                                            <div data-p="112.50" style="display: none;">
                                                                <img data-u="image" src="@ConfigurationManager.AppSettings["domain"]@item.img_new_dulich.ToString().Split('_')[0]/@item.img_new_dulich" />
                                                            </div>              
                                                            <div data-p="112.50" style="display: none;">
                                                                <img data-u="image" src="@ConfigurationManager.AppSettings["domain"]@item.img1_new_dulich.ToString().Split('_')[0]/@item.img1_new_dulich" />
                                                            </div>
                                                            <div data-p="112.50" style="display: none;">
                                                                <img data-u="image" src="@ConfigurationManager.AppSettings["domain"]@item.img2_new_dulich.ToString().Split('_')[0]/@item.img2_new_dulich" />
                                                            </div>
                                                            <div data-p="112.50" style="display: none;">
                                                                <img data-u="image" src="@ConfigurationManager.AppSettings["domain"]@item.img3_new_dulich.ToString().Split('_')[0]/@item.img3_new_dulich" />
                                                            </div>
                                                            <div data-p="112.50" style="display: none;">
                                                                <img data-u="image" src="@ConfigurationManager.AppSettings["domain"]@item.img4_new_dulich.ToString().Split('_')[0]/@item.img4_new_dulich" />
                                                            </div>
                                                            <div data-p="112.50" style="display: none;">
                                                                <img data-u="image" src="@ConfigurationManager.AppSettings["domain"]@item.img5_new_dulich.ToString().Split('_')[0]/@item.img5_new_dulich" />
                                                            </div>
                                                            <div data-p="112.50" style="display: none;">
                                                                <img data-u="image" src="@ConfigurationManager.AppSettings["domain"]@item.img6_new_dulich.ToString().Split('_')[0]/@item.img6_new_dulich" />
                                                            </div>
                                                            <div data-p="112.50" style="display: none;">
                                                                <img data-u="image" src="@ConfigurationManager.AppSettings["domain"]@item.img7_new_dulich.ToString().Split('_')[0]/@item.img7_new_dulich" />
                                                            </div>
                                                            
                                                        </div>
                                                        <!-- Bullet Navigator -->
                                                        <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;" data-autocenter="1">
                                                            <div data-u="prototype" style="width:12px;height:12px;"></div>
                                                        </div>
                                                        <!-- Arrow Navigator -->
                                                        <span data-u="arrowleft" class="jssora13l" style="top:0px;left:30px;width:40px;height:50px;" data-autocenter="2"></span>
                                                        <span data-u="arrowright" class="jssora13r" style="top:0px;right:30px;width:40px;height:50px;" data-autocenter="2"></span>
                                                    </div>

                                                    <!-- #endregion Jssor Slider End -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fb-like" data-href="http://phongkhambacsihon.com/Detail/Detail/@item.id_new_dulich" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                    <p style="white-space:pre-line;">
                                                        @item.tomtat_new_dulich
                                                </p>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <p style="white-space:pre-line;">@item.mota_new_dulich</p>
                                        </div>
                                        <div class="fb-comments" data-href="https://www.facebook.com/dulichbautrang/docs/plugins/comments#configurator" data-numposts="5"></div>
                                    </div>
                                </div>
                            </div>
                            <footer class="footer node-footer" role="contentinfo">
                                <!-- Node tags -->
                                <!-- Node links -->
                                <div class="node-links clearfix">
                                    @*Face Book*@
                                    <div id="fb-root"></div>
                                    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=1706744036228892";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                                   
                                    @*Face Book*@
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            }
            
                </div>
            </div>


        </div>

<script type="text/javascript" src="~/js/jssor.slider.mini.js"></script>
<!-- use jssor.slider.debug.js instead for debug -->
<script>
                                                    jQuery(document).ready(function ($) {

                                                        var jssor_1_options = {
                                                            $AutoPlay: true,
                                                            $SlideWidth: 600,
                                                            $Cols: 2,
                                                            $Align: 100,
                                                            $ArrowNavigatorOptions: {
                                                                $Class: $JssorArrowNavigator$
                                                            },
                                                            $BulletNavigatorOptions: {
                                                                $Class: $JssorBulletNavigator$
                                                            }
                                                        };

                                                        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

                                                        //responsive code begin
                                                        //you can remove responsive code if you don't want the slider scales while window resizing
                                                        function ScaleSlider() {
                                                            var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                                                            if (refSize) {
                                                                refSize = Math.min(refSize, 800);
                                                                jssor_1_slider.$ScaleWidth(refSize);
                                                            }
                                                            else {
                                                                window.setTimeout(ScaleSlider, 30);
                                                            }
                                                        }
                                                        ScaleSlider();
                                                        $(window).bind("load", ScaleSlider);
                                                        $(window).bind("resize", ScaleSlider);
                                                        $(window).bind("orientationchange", ScaleSlider);
                                                        //responsive code end
                                                    });
</script>

<style>
    /* jssor slider bullet navigator skin 01 css */
    /*
                                                        .jssorb01 div           (normal)
                                                        .jssorb01 div:hover     (normal mouseover)
                                                        .jssorb01 .av           (active)
                                                        .jssorb01 .av:hover     (active mouseover)
                                                        .jssorb01 .dn           (mousedown)
                                                        */
    .jssorb01 {
        position: absolute;
    }

        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            /* size of bullet elment */
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 1px solid;
        }

        .jssorb01 div {
            background-color: gray;
        }

            .jssorb01 div:hover, .jssorb01 .av:hover {
                background-color: #d3d3d3;
            }

        .jssorb01 .av {
            background-color: #fff;
        }

        .jssorb01 .dn, .jssorb01 .dn:hover {
            background-color: #555555;
        }

    /* jssor slider arrow navigator skin 13 css */
    /*
                                                        .jssora13l                  (normal)
                                                        .jssora13r                  (normal)
                                                        .jssora13l:hover            (normal mouseover)
                                                        .jssora13r:hover            (normal mouseover)
                                                        .jssora13l.jssora13ldn      (mousedown)
                                                        .jssora13r.jssora13rdn      (mousedown)
                                                        */
    .jssora13l, .jssora13r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 40px;
        height: 50px;
        cursor: pointer;
        background: url('../../img/a13.png') no-repeat;
        overflow: hidden;
    }

    .jssora13l {
        background-position: -10px -35px;
    }

    .jssora13r {
        background-position: -70px -35px;
    }

    .jssora13l:hover {
        background-position: -130px -35px;
    }

    .jssora13r:hover {
        background-position: -190px -35px;
    }

    .jssora13l.jssora13ldn {
        background-position: -250px -35px;
    }

    .jssora13r.jssora13rdn {
        background-position: -310px -35px;
    }
</style>


<!-- Region Content bottom -->
<!-- Region Video -->
